
//boton cards y boton nav.

.boton__registro {
   border-radius: inherit;
}



.boton__card{
   color: $white;
   background-color: $ball-blue;
   border: $ball-blue;
   font-size: $small;
   margin: 10px;
   padding: 10px 20px;
   border-radius: inherit;
   text-align: center;
   
 }

//boton nav hover
 .boton__register:hover {
   background-color: $middle-blue;
 }

//boton cards hover
 .boton__card:hover {
   background-color: $middle-blue;
 }