
body {
    font-family: $raleway;
}

// h1 heroSec Valores

.heroSec__wrap h1 {
  font-size: $xxxxx-large;
  font-weight: $bold;
  
}




//valores Caracteristicas

#Caracteristicas h1 {
    font-size:$xxxxx-large; 
    font-weight: $bold;

   
}
.caracteristicas__texto__h2 {
    font-size:$xx-large; 
    font-weight: bold;
   }

   
 


