
//SECCION heroSec


    
@media (min-width:992px) { 
    .heroSec__wrap{
        position: absolute;
       top: 150px;
        left: 100px;
        width: 500px;
       
        
      
      
     }
 
 }
 
    
    @media (min-width:724px) {
        .heroSec__wrap {
            h1 {
                text-align: center;

            }
           
           
        }
     }


 //Caracteristicas 

 
 @media (min-width:724px) {
     .caracteristicas {
         width: 100%;
         padding: 20px;
         margin: auto;
         display: flex;
         justify-content: center;
     }
    
    #Caracteristicas div {
         text-align: center;
         width: 100%;
     }
 
 }

 @media (max-width:724px) {
    .caracteristicas__niveles {
        text-align: center;
        width: 100%;
        
    }
    .caracteristicas__texto {
        text-align: center;
        
        
    }
   
 }
 //ajuste con padding de texto 
@media (max-width:992px) {
.caracteristicas__texto__p {
    padding: 30px;
}

}
 



//SECCION PRECIOS CARDS AJUSTABLES




@media (max-width:500px) {
    .precios_img {
        margin-top: 120px;
    }
}



@media (min-width:528px) {
    .precios_img {
        width: 100%;
        margin: auto;
      
        

        
    }
}



/*
FOOTER 
*/

@media (min-width:768px){
    #footer__section {
            display: flex;
            justify-content: space-between;
            padding: 65px;
    }

    #footer__section a {
        margin-right:50px;
    }
}