#footer__section{
    color:$white;
    background: $raising-black;
    font-size: $x-small;
    padding: 40px;
    
}
a{
    color:$white;
}

.footer__primera__linea {
    display: flex;
    justify-content: space-between;
      
}
#footer__section p {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 15px;
}
