// Valores heroSec


#heroSec {
 
  background-size: cover;

  
 .heroSec_img {
   width: 100%;
 }
}


.precios_img {
  width: 100%;
}







//Asignando valores a seccion precios



#Precios {
  background: url(../../img/bg-price.svg) center no-repeat;
  background-size: cover;
  height: 1150px;
}