// Valores heroSec


#heroSec {
 
  background-size: cover;


  
 .heroSec_img {
   width: 100%;
 }
}


.heroSec__wrap{
  padding: 0px 50px;
 
}
span {
  text-align: left;
}






//Asignando valores a seccion precios



