
  #Precios {
    
    
  
    position: relative;
    overflow: hidden;
   
   

  }
  #Precios h1 {
    text-align: center;
    margin-top: 250px;
    color: $white;
    
    ;
}

 

.precios_img {
    width: 100%;
    position: absolute;
    z-index: -1
  
   
}
   
  



//columnas fondo color 
.columns {
    background-color: #333745;
    
}
 

  .columns__precios {
      width: 100%;
      margin: auto;
      padding: 50px 50px; 
      
    
      
  }

  
  
  li {
      padding: 10px
  }
