
  #Precios {
    
    background-color: #333745;
    margin-top: 260px;
    position: relative;
    

  }


.precios_img {
    width: 100%;
    position: absolute;
    top: -300px;
    z-index: -1;
   
  }





 

  .columns__precios {
      width: 60%;
      margin: auto;
      padding: 30px;
  }